<h1>Celeb</h1>

{{#each theCeleb}}

<div class="celeb-info">
    {{!-- <img src="{{this.image}}" style="width: 100px"> --}}

    <a href="/celebs/{{this._id}}">
        <h2>
            {{this.name}}
        </h2>
    </a>
    <h5>{{this.occupation}}</h5>
    <form action="/celebs/{{this.id}}/delete" method="POST">
      <button class="button">Delete</button>
    </form>

    <form action="/celebs/{{this.id}}/edit" method="GET">
      <button class="button">Edit</button>
    </form>

</div>


{{/each}}